:root {
    --cor-primaria: green; /* Verde */
    --cor-secundaria: white; /* Branco */
}

body {
    margin: 0;
    font-family: 'Forum', sans-serif;
    display: flex;
}

.sidebar {
    width: 250px; /* Largura da barra lateral */
    background-color: var(--cor-primaria); /* Verde */
    color: var(--cor-secundaria); /* Branco */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: fixed;
    height: 100vh;
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
}

.logo-container {
    display: flex;
    align-items: center; /* Alinha verticalmente a imagem e o texto */
    margin-bottom: 20px;
}

.sidebar img {
    width: 80px; /* Tamanho reduzido da logo */
    height: auto;
    margin-right: 10px; /* Espaço entre a logo e o texto */
}

.logo-container span {
    font-size: 32px; /* Tamanho do texto "SIGNE" aumentado */
    color: var(--cor-secundaria); /* Branco */
    font-weight: bold; /* Negrito opcional */
}

.sidebar button {
    background-color: var(--cor-secundaria); /* Branco */
    color: black; /* Preto - Cor do texto dos botões */
    border: none;
    font-family: 'Forum', sans-serif;
    padding: 10px 15px; /* Ajuste o padding para reduzir a altura dos botões */
    font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
    border-radius: 5px;
    cursor: pointer;
    margin: 8px 0; /* Ajuste o margin para mais espaçamento entre os botões */
    width: 200px; /* Ajuste a largura dos botões conforme necessário */
    text-align: left; /* Alinha o texto à esquerda dentro do botão */
    display: flex;
    align-items: center; /* Alinha verticalmente o texto dentro do botão */
    justify-content: center; /* Centraliza horizontalmente o texto */
}

.sidebar button:hover {
    background-color: black; /* Muda a cor de fundo para preto ao passar o mouse */
    color: var(--cor-secundaria); /* Muda a cor do texto para branco ao passar o mouse */
}

#content {
    margin-left: 250px; /* Espaço para a barra lateral */
    padding: 20px;
    width: calc(100% - 250px);
}
