* {
    margin: 0 auto;
    padding: 0;
}


:root {
    --cor-primaria: green;
    --cor-secundaria: white;
}



.cabecalho {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 0;
    }

    .cabecalho img {
        margin-left: 1%;
        height: 100px;
        width: 80px;
    }

    .login {
        background-color: var(--cor-primaria);
        color: var(--cor-secundaria);
        display: flex;
        flex-direction: column;
        width: 600px;
        height: 300px;
        padding-top: 25px;
        border-radius: 30px;
        gap: 20px;
        font-family: "Roboto", sans-serif;
        box-sizing: border-box;
        justify-content: flex-start;
        margin-top: 10%;
    }

    .login form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }    

    .login h1 {
        margin-left: 20px;
        font-weight: 1;
    }

    .login form input[type = "submit"] {
        width: 120px;
        height: 40px;
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 3px;
        background-color: var(--cor-secundaria);
        border: none;
    }

    #userlogin {
        width: 300px;
        height: 30px;
    }

.login form img {
    width: 40px;
    height: 40px;
    transform: translateY(25%);
    margin-left: 0 auto;
}

.login form div {
    width: 80%;
    position: relative;
    text-align: right;
    font-size: 25px;
}

.digit {
    width: 60%;
    height: 30px;
    font-size: 25px;
}
